/* :root{
    font-size: 30px;
}
section{
    font-size: 10px;

} */
div{
    height: 98vh;  /* by default the size of em is 16px */
    width: 200px;
    background-color: red;
    animation-name: move;
    animation-duration: 5s;
    /* animation-delay: 2s; */
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
    position: absolute;
}
@keyframes move{
    from{
        top: 0px;
        left: -100px;

    }
  to{
     top: 0px;
     left: 0px;
  }
}
/* .span{
 height: 5rem;
 width: 5rem;
 background-color: green;
} */