div{
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: box;
    animation-duration: 7s;
    /* animation-delay: 5s;  */
    animation-iteration-count: infinite; 
    position: absolute; 
}

@keyframes box {
   /* from{
    background-color:aqua;
    height: 0px;
    width: 0px;
    top: 0%;
    left: 0%;
   }
   to{
    background-color: black;
    /* height: 500px;
    width: 500px; 
    top: 0%;
    left: 500%;
   }
} */

0%{
    background-color: aqua;
    top: 0;
    left: 0%;
}
25%{
    background-color: tomato;
    left: 500px;
    top: 300px;
}
75%{
    background-color: blueviolet;
    left: 600px;
    top: 500px;
}
100%{
    background-color: bisque;
    top:500px;
    left: 600px;
    transform: rotate(360deg);
}
100%{
    background-color: aqua;
    top: 0;
    right: 0%;
    transform: rotate(360deg);
}
75%{
    background-color: tomato;
    right: 500px;
    top: 300px;
}
25%{
    background-color: blueviolet;
    right: 600px;
    top: 500px;
}
0%{
    background-color: bisque;
    top:500px;
    right: 600px;
    
}
}